* {
    margin: 0;
    padding: 0;
}

#wrapper {
  position: relative;
}

body {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title {
    color: purple;
}

#search {
  border: solid 2px black;
  width: fit-content;
  margin: auto;
  padding: .5rem;
}

#search li {
  display: inline-block;
  margin: 1rem;
  font-weight: normal;
}

#timerDiv {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  border: solid black;
  font-size: xx-large;
}

#content {
  border: 1px solid black;
  width: 90%;
  margin: 1rem auto;
  transition: .5s;
}

#imageDiv {
  position: relative;
  width: fit-content;
  margin: auto;
}

#collageImage {
  width: 650px;
}

#circleDiv {
  display: none;
  position: absolute;
  border: solid black;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 100%;
  padding: 1.2rem;
  left: 0;
  top: 0;
}

#select {
  display: none;
  position: absolute;
  width: 12%;
  padding: .1rem;
  background-color: rgba(32, 31, 31, 0.99);
  color: white;
  border: solid 2px black;
  border-radius: .5rem;
}

.listTarget {
  list-style-type: none;
  border-bottom: solid 1px white;
  cursor: pointer;
  transition: .5s;
}

.listTarget:hover {
  background-color: rgb(85, 83, 83);
}

.gameOver {
  display: none;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 25%;
  border: solid 1px black;
  background-color: white;;
  width: 80%;
  margin: auto;
}

.gameOverText {
  margin-bottom: 3.5rem;
}

.scoresText {
  margin-bottom: 1.5rem;
}